body {
  padding: 20px;
  margin: 0;
  display: grid;
  grid-gap: 10px;
}

div {
  padding: 10px;
}

div:nth-child(1) {
  background: blue;
  border-top-left-radius: 4px;
}

div:nth-child(2) {
  background: green;
}

div:nth-child(3) {
  background: orange;
  border-top-right-radius: 4px;
}

div:nth-child(4) {
  background: greenyellow;
  border-bottom-left-radius: 4px;
}

div:nth-child(5) {
  background: purple;
}

div:nth-child(6) {
  background: black;
  color: white;
  border-bottom-right-radius: 4px;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
}